{{!--
  Copyright (c) 2015, Upnext Technologies Sp. z o.o.
  All rights reserved.

  This source code is licensed under the BSD 3-Clause License found in the
  LICENSE.txt file in the root directory of this source tree. 
--}}

<div class="coupon">
  <div class="coupon-header" style="background: transparent url('{{#if image_url}}{{image_url}}{{else}}/images/preview/image.png{{/if}}') no-repeat center center;">
    <div class="header-title">
      <div class="coupon-logo">
        {{#if logo_url}}
        <img src="{{ logo_url }}" />
        {{else}}
        <img src="/images/preview/logo.png" />
        {{/if}}
      </div>
      <div class="coupon-title">
        <h3>{{ name }}</h3>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="coupon-content">
    <h4>{{ title }}</h4>
    <p>{{ description }}</p>
  </div>

  <div class="coupon-button">
    <a href="{{ button_link }}" class="button" style="background: #{{ button_background_color }}; color: #{{ button_font_color }};">
      {{ button_label }}
    </a>
  </div>
</div>
