<div class="walkthrough">
  <%= render 'sidebar' %>

  <div class='content'>
    <div id="add_beacon">

      <div class="title"><%= t('walkthrough.add_beacon.title') %></div>
      <p><%= raw t('walkthrough.add_beacon.description') %></p>

      <div class="subtitle"><%= t('walkthrough.add_beacon.admin_panel') %></div>
      <ol>
        <li>
          <%= t('walkthrough.add_beacon.add_beacon') %>
          <%= image_tag('walktrough/dashboard.png') %>
        </li>
        <li>
          <%= raw t('walkthrough.add_beacon.fill_in_beacon_data') %>
          <%= image_tag('walktrough/beacon_new.png') %>
        </li>
        <li><%= t('walkthrough.add_beacon.bring_phone') %></li>
      </ol>

      <div class="subtitle"><%= t('walkthrough.add_beacon.mobile_app') %></div>
      <ol>
        <li>
          <%= t('walkthrough.add_beacon.add_beacon_mobile') %>
          <%= image_tag('walktrough/01-mobile.png', class: 'two-images margin-t40') %>
           <%= image_tag('walktrough/02-mobile.png', class: 'two-images') %>
        </li>
        <li><%= raw t('walkthrough.add_beacon.setup_trigger') %></li>
        <li><%= t('walkthrough.add_beacon.bring_phone') %></li>
      </ol>

      <div class="subtitle"><%= t('walkthrough.add_beacon.sth_wrong') %></div>
      <ol>
        <li><%= raw t('walkthrough.add_beacon.no_mobile_app', mobile_app_url: "https://itunes.apple.com/pl/app/beaconctrl/id1020666394?mt=8") %></li>
        <li><%= t('walkthrough.add_beacon.not_same_account') %></li>
        <li><%= t('walkthrough.add_beacon.wrong_mobile_settings') %></li>
        <li><%= t('walkthrough.add_beacon.uuid_mistake') %></li>
        <li><%= t('walkthrough.add_beacon.battery_dead') %></li>
        <li><%= t('walkthrough.add_beacon.broken_beacon') %></li>
        <li><%= t('walkthrough.add_beacon.no_idea_what_wrong') %></li>
      </ol>
    </div>
  </div>
</div>
