<div class="walkthrough">
  <%= render 'sidebar' %>

  <div class='content'>
    <div>
      <div class="title"><%= t('walkthrough.create_action.title') %></div>
      <p><%= raw t('walkthrough.create_action.choose_app') %></p>
      <p><%= raw t('walkthrough.create_action.see_actions') %></p>
      <p><%= raw t('walkthrough.create_action.configure_action') %></p>
    </div>
  </div>
</div>
