<div class="walkthrough">
  <div id="sticky-anchor"></div>
  <div id="sticky" class='walkthrough-sidebar'>
    <ul>
      <li><a href="#intro">Introduction</a></li>
      <li><a href="#add_beacon">1. Add beacon & test it</a></li>
      <li><a href="#setup_custom_action">2. Setup an action in the test app</a></li>
      <li><a href="#setup_coupon_action" class="active">3. Setup an action in the test app</a></li>
    </ul>
  </div>

  <div class='content'>
    <!-- INTRO -->
    <div id="intro" >
      <div class="title">Introduction</div>
        
      <p>
        <%= raw t('walkthrough.welcome.body', github_url: '<a href=https://github.com/upnext/BeaconCtrl> https://github.com/upnext/BeaconCtrl </a>') %>
      </p>

      <div class="subtitle">Add beacon</div>
      <p>
        <%= t('walkthrough.beacons.body') %>
      </p>
      <%= image_tag('walktrough/beacon_new.png') %>

      <div class="subtitle">Zones</div>
      <p>
        <%= t('walkthrough.zones.body') %>
      </p>
      <%= image_tag('walktrough/zones.png') %>

      <div class="subtitle">Map</div>
      <p>
        <%= t('walkthrough.map.body') %>
      </p>

      <div class="subtitle">Applications</div>
      <p>
        <%= t('walkthrough.applications.body') %>
      </p>
      <%= image_tag('walktrough/applications.png') %>

      <div class="subtitle">Add-ons</div>
      <p>
        <%= t('walkthrough.addons.body') %>
      </p>
      <%= image_tag('walktrough/extensions.png') %>
    </div>

    <!-- ADD BEACON -->
    <div id="add_beacon">
      <div class="subtitle">Add Beacon & Test it</div>

      <ol>
        <li>Open admin panel</li>
        <%= image_tag('walktrough/extensions.png') %>

        <li>Click add beacon</li>
        <%= image_tag('walktrough/extensions.png') %>
        <li>Write beacon name, UUID, major and minor data</li>
        <li>Mark checkbox `test this beacon`</li>
        <li>Choose trigger `almoust touching`</li>
        <li>Click `save beacon` button</li>
        <li>Open application `BeaconControl` on your ipad</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
      </ol>
    </div>

    <div id="setup_custom_action">
      <div class="subtitle">Setup an action in the test app using the dwelltime (custom action)</div>

      <ol>
        <li>Open admin panel</li>
        <%= image_tag('walktrough/extensions.png') %>

        <li>Click add beacon</li>
        <%= image_tag('walktrough/extensions.png') %>
        <li>Write beacon name, UUID, major and minor data</li>
        <li>Mark checkbox `test this beacon`</li>
        <li>Choose trigger `almoust touching`</li>
        <li>Click `save beacon` button</li>
        <li>Open application `BeaconControl` on your ipad</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
      </ol>
    </div>

    <div id="setup_coupon_action">
      <div class="subtitle">Setup an action in the test app (coupon action)</div>

      <ol>
        <li>Open admin panel</li>
        <%= image_tag('walktrough/extensions.png') %>

        <li>Click add beacon</li>
        <%= image_tag('walktrough/extensions.png') %>
        <li>Write beacon name, UUID, major and minor data</li>
        <li>Mark checkbox `test this beacon`</li>
        <li>Choose trigger `almoust touching`</li>
        <li>Click `save beacon` button</li>
        <li>Open application `BeaconControl` on your ipad</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
      </ol>
    </div>
  </div>
</div>
