<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<% content_for :header do %>
  <style>
    .coupon-header { background: transparent url('<%= with_host(@coupon.image.url) %>') no-repeat center center; }
  </style>
<% end %>

<div class="coupon with-barcode">
  <div class="coupon-header">
    <div class="header-title">
      <div class="coupon-title">
        <h3><%= @coupon.name %></h3>
      </div>
    </div>
  </div>
  <div class="coupon-content">
    <h4><%= @coupon.title %></h4>
    <p><%= @coupon.description %></p>
  </div>
  <div class="coupon-barcode">
    <%= svg_tag(mobile_coupon_barcode_url(@coupon), { class: %W[coupon-barcode-image #{@coupon.encoding_type}] }) %>
    <div class="scan-code"><%= t('coupon.scan_here') %></div>
  </div>
</div>

