<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<%= simple_nested_form_for @beacon, html: { class: %W[beacon-form with-sticky-footer beacon-#{edit? ? 'edit' : 'new'}] } do |f| %>
  <div class="row form-container">
    <div class="col-md-6 first-column">
      <!-- GOOGLE MAP -->
      <h4><%= t('.location_on_map') %></h4>
      <div id="beacon-map"></div>
      <!-- /GOOGLE MAP -->

      <div class="control-group">
        <div class="controls">
          <div class="row">
            <div class="col-sm-6">
              <%= f.input :floor,
                          as: :select,
                          collection: BeaconDecorator.floors_for_select(t('.unassigned_floor'), true),
                          include_blank: false,
                          input_html: {
                              class: %W[selectpicker show-tick],
                              data: {
                                  live_search: true
                              }
                          }
              %>
            </div>
            <%= content_tag :div, class: %W[col-sm-6], style: %W(border-color: #{current_beacon_zone_color}) do %>
              <%= f.association :zone,
                                as: :select,
                                include_blank: false,
                                input_html: {
                                    class: %W[selectpicker show-tick select-with-border],
                                    data: {
                                        live_search: true
                                    }
                                },
                                collection: [BeaconFilterForm::UNASSIGNED_ZONE,*@zones].map { |zone|
                                  [
                                      truncate(zone.name, length: 40),
                                      zone.id,
                                      {
                                          class: %W[with-border],
                                          style: %W(border-color: #{zone.hex_color}),
                                          data: {
                                              group: zone.manager_id.to_s,
                                              color: zone.hex_color
                                          }
                                      }
                                  ]
                                }
              %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="location">
          <%= f.input :location %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <div class="row">
            <div class="col-md-6">
              <%= f.input :lat, as: :string %>
            </div>
            <div class="col-md-6">
              <%= f.input :lng, as: :string %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 second-column">
      <div class="control-group">
        <div class="controls">
          <%= f.input :name %>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.input :uuid, label: 'UUID', input_html: { class: %W[uuid-input] } %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="row">
              <div class="col-xs-6">
                <%= f.input :major %>
              </div>
              <div class="col-xs-6">
                <%= f.input :minor %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br/>

      <% if current_admin.test_application %>
        <%= render 'beacons/test_notification',
                   f: f, beacon: @beacon,
                   custom_attributes: @beacon.test_activity.custom_attributes
        %>
      <% end %>
    </div>
  </div>

  <div class="row actions-row sticky-footer">
    <div class="col-xs-6">
      <div class="pull-left">
        <% if @beacon.persisted? %>
          <%= button_link :delete, beacon_path(@beacon), class: %w[btn btn-danger], with_modal: true %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="pull-right">
        <%= button_link :cancel, beacons_path %>
        <%= f.button :submit, t('.save'), class: %w[btn-success btn btn-static-width btn-action-save] %>
      </div>
    </div>
  </div>
<% end %>

<%= prompt_modal(t('beacons.modal.title'), t('beacons.modal.body')) %>
