<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<% content_for :header_breadcrumbs do %>
  <span><%= link_to t('.title'), applications_path %></span>
  <span><%= @application.name %></span>
<% end %>

<%= render 'shared/subheader' %>

<div class="section-group event-extentions">
  <div class="items-section clearfix">
    <h2><%= t('.active') %></h2>

    <ul class="items-list">
      <% active_extensions.each do |extension| %>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <%= render extension %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="items-section clearfix">
    <h2><%= t('.inactive') %></h2>

    <ul class="items-list">
      <% inactive_extensions.each do |extension| %>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 inactive">
          <%= render partial: 'extensions/inactive_extension',
                     locals: {
                       application: application,
                       extension: extension
                     }
          %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
