<div id="beacon-working-status" class="row">
  <div class="col-xs-5 beacon-title">
    <%= t('beacons.form.working_status') %>
  </div>
  <div class="col-xs-7 beacon-data">
    <%= t("beacons.form.beacon_#{false ? 'active' : 'inactive'}") %>
  </div>
</div>
<div id="beacon-device-id" class="row">
  <div class="col-xs-5 beacon-title">
    <%= t('beacons.form.device_id') %>
  </div>
  <div class="col-xs-7 beacon-data">
    <%= beacon.uuid %>
  </div>
</div>
<div id="beacon-device-type" class="row">
  <div class="col-xs-5 beacon-title">
    <%= t('beacons.form.device_type') %>
  </div>
  <div class="col-xs-7 beacon-data">
    <%= beacon.device.device_type %>
  </div>
</div>
<div id="beacon-firmware" class="row">
  <div class="col-xs-5 beacon-title">
    <%= t('beacons.form.firmware') %>
  </div>
  <div class="col-xs-7 beacon-data">
    <%= beacon.device.firmware %>
    <%- unless beacon.beacon_firmware.latest? %>
      <span style="color:darkred;font-weight: 800">!</span>
    <%- end %>
  </div>
</div>
<div id="beacon-battery" class="row">
  <div class="col-xs-5 beacon-title">
    <%= t('beacons.form.battery') %>
  </div>
  <div class="col-xs-7 beacon-data">
    <%= beacon.battery_level %>%
  </div>
</div>
<div id="beacon-last-action" class="row">
  <div class="col-xs-5 beacon-title">
    <%= t('beacons.form.last_action') %>
  </div>
  <div class="col-xs-7 beacon-data">
    <%= Time.at(beacon.beacon_status.last_event_timestamp.to_i).strftime('%d.%m.%Y %H:%M') %>
  </div>
</div>
<div id="beacon-last-connection" class="row">
</div>
<div id="beacon-average-connection-interval" class="row">
  <div class="col-xs-5 beacon-title">
    <%= t('beacons.form.average_connection_interval') %>s
  </div>
  <div class="col-xs-7 beacon-data">
    <%= beacon.beacon_status.avg_event_interval %>s
  </div>
</div>