<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<%= render layout: 'admins/shared/layout' do %>

  <h2>
    <%= t('.log_in') %>

    <% if AppConfig.registerable %>
      <small class="pull-right">
        or <%= link_to t(".create_account"), new_registration_path(resource_name) %>
      </small>
    <% end %>
  </h2>

  <% flash.each do |type, msg| %>
    <div class="<%= type %>"><%= msg %></div>
  <% end %>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <%= f.input :email, required: false, autofocus: true, label: false, placeholder: t(".email") %>

    <%= f.input :password, required: false, label: false, placeholder: t(".password") %>

    <div class="checkbox">
      <input type="checkbox" id="admin[remember_me]" name="admin[remember_me]" value="remember-me">
      <label for="admin[remember_me]"><%= t(".remember_me") %></label>
    </div>

    <%= f.button :submit, t(".log_in"), class: 'btn btn-sm btn-success pull-right' %>

    <%= link_to t(".forgot_password"), new_password_path(resource_name) %>
  <% end %>

<% end %>
