<div class="row form-container">
  <div class="col-md-6 first-column">
    <% if beacon.persisted? && wrapped_beacon.master_beacon.blank? %>
      <div class="control-group">
        <div class="controls" style="color:#d62c1a;margin-bottom:20px;">
          <%= t('beacons.form.missing_cloud_message') %>
        </div>
      </div>
    <%- end %>

    <div class="control-group">
      <div class="controls">
        <%= f.input :protocol,
                    collection: Beacon::PROTOCOLS,
                    as: :select,
                    include_blank: false,
                    input_html: {
                        class: %W[selectpicker event-publisher],
                        data: {
                            live_search: false
                        }
                    }
        %>
      </div>
    </div>

    <div class="event-subscriber control-group" data-publisher="#beacon_protocol" data-action="show" data-on="change" data-match="iBeacon">
      <div class="row">
        <div class="col-xs-12">
          <div class="controls">
            <%= f.input :uuid,
                        label: 'UUID',
                        input_html: {
                            class: %w[uuid-input],
                            data: {
                                :'validate-if' => '#beacon_protocol=iBeacon',
                                required: true,
                                pattern: Beacon::UuidFormat::REGEX.inspect.gsub(/\//, '')
                            }
                        }
            %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="controls">
          <div class="col-xs-6">
            <%= f.input :major,
                        input_html: {
                            data: {
                                :'validate-if' => '#beacon_protocol=iBeacon',
                                required: true
                            }
                        }
            %>
          </div>
          <div class="col-xs-6">
            <%= f.input :minor,
                        input_html: {
                            data: {
                                :'validate-if' => '#beacon_protocol=iBeacon',
                                required: true
                            }
                        }
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="event-subscriber control-group" data-publisher="#beacon_protocol" data-action="show" data-on="change" data-match="Eddystone">
      <div class="row">
        <div class="controls">
          <div class="col-xs-6">
            <%= f.input :namespace,
                        input_html: {
                            data: {
                                :'validate-if' => '#beacon_protocol=Eddystone',
                                required: true
                            }
                        }
            %>
          </div>
          <div class="col-xs-6">
            <%= f.input :instance,
                        input_html: {
                            data: {
                                :'validate-if' => '#beacon_protocol=Eddystone',
                                required: true
                            }
                        }
            %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="controls">
            <%= f.input :url,
                        input_html: {
                            data: {
                                :'validate-if' => '#beacon_protocol=Eddystone',
                                required: true
                            }
                        }
            %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'beacons/form/test_notification',
               f: f,
               beacon: beacon,
               custom_attributes: beacon.test_activity.custom_attributes
    %>

  </div>
  <div class="col-md-6 second-column">
    <% if @beacon.vendor == 'Kontakt' %>
      <div class="control-group">
        <div class="controls">
          <%= f.input :mode,
                      collection: Beacon::MODE,
                      as: :select,
                      include_blank: false,
                      input_html: {
                          class: %W[selectpicker],
                          value: 'Custom',
                          readonly: true,
                          disabled: true
                      }
          %>
        </div>
      </div>

      <%= f.fields_for(:config) do |config| %>
        <div class="control-group event-subscriber" data-publisher="#beacon_protocol" data-action="show" data-match="iBeacon">
          <div class="controls">
            <%= config.input :signal_interval,
                             input_html: {
                                 value: beacon.config.signal_interval
                             }
            %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= config.input :transmission_power,
                             include_blank: false,
                             id: 'transmission_power-slider',
                             input_html: {
                                 id: 'transmission_power',
                                 class: %W[slider],
                                 value: beacon.config.transmission_power,
                                 data: {
                                     slider_min:     1,
                                     slider_max:     7,
                                     slider_step:    1,
                                     slider_value:   beacon.config.transmission_power,
                                     slider_handle:  :square
                                 }
                             }
            %>
          </div>
        </div>
      <%- end %>
    <% end %>
  </div>
</div>