<div class="row form-container">
  <div class="col-md-6 first-column">
    <div class="control-group">
      <div class="controls">
        <%= t('beacons.form.missing_cloud_message') %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.input :protocol,
                    collection: Beacon::PROTOCOLS,
                    as: :select,
                    include_blank: false,
                    input_html: {
                        class: %W[selectpicker event-publisher],
                        data: {
                            live_search: true
                        }
                    }
        %>
      </div>
    </div>

    <div class="event-subscriber control-group" data-publisher="#beacon_protocol" data-action="show" data-on="change" data-match="iBeacon">
      <div class="row">
        <div class="col-xs-12">
          <div class="controls">
            <%= f.input :uuid %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="controls">
          <div class="col-xs-6">
            <%= f.input :major %>
          </div>
          <div class="col-xs-6">
            <%= f.input :major_security,
                        collection: %w[static secured],
                        as: :select,
                        include_blank: false,
                        input_html: {
                            class: %W[selectpicker],
                            data: {
                                live_search: true
                            }
                        }
            %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="controls">
          <div class="col-xs-6">
            <%= f.input :minor %>
          </div>
          <div class="col-xs-6">
            <%= f.input :minor_security,
                        collection: %w[static secured],
                        as: :select,
                        include_blank: false,
                        input_html: {
                            class: %W[selectpicker],
                            data: {
                                live_search: true
                            }
                        }
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="event-subscriber control-group" data-publisher="#beacon_protocol" data-action="show" data-on="change" data-match="Eddystone">
      <div class="control-group">
        <div class="controls">
          <div class="col-xs-6">
            <%= f.input :namespace %>
          </div>
          <div class="col-xs-6">
            <%= f.input :instance_id %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'beacons/form/test_notification',
               f: f,
               beacon: beacon,
               custom_attributes: beacon.test_activity.custom_attributes
    %>

  </div>
  <div class="col-md-6 second-column">
    <div class="control-group">
      <div class="controls">
        <%= f.input :mode,
                    collection: Beacon::MODE,
                    as: :select,
                    include_blank: false,
                    input_html: {
                        class: %W[selectpicker],
                        value: 'Custom',
                        readonly: true,
                        disabled: true
                    }
        %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.input :signal_interval,
                    input_html: {
                        value: wrapped_beacon.device.interval,
                    }
        %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.input :transmission_power,
                    include_blank: false,
                    input_html: {
                        class: %W[slider-select string optional form-control],
                        value: wrapped_beacon.device.tx_power,
                    }
        %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.input :activity_time
        %>
      </div>
    </div>
  </div>
</div>